<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex p-3 justify-content-center align-content-center">
        <h1 class="display-5">Congratulations!</h1>
        <h3>Your Online Application is now complete!</h3> <br>
        <hr>
        <br>
        <p>Please visit St. Aloysius Gonzaga Academy, Inc. at Sto. Tomas, San Luis, Pampanga to complete your enrolment process. We cannot wait to see you there, future Aloysian!</p> <br>

        <hr>

        <p><strong>#ExperienceAloysianCulture</strong></p>
    </div>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>